<h1>Listing radars</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @radars.each do |radar| %>
  <tr>
    <td><%= radar.type %></td>
    <td><%= radar.latitude %></td>
    <td><%= radar.longitude %></td>
    <td><%= link_to 'Show', radar %></td>
    <td><%= link_to 'Edit', edit_radar_path(radar) %></td>
    <td><%= link_to 'Destroy', radar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Radar', new_radar_path %>
