<h1>Listing radars</h1>

<table>
  <tr>
    <th>Categorie</th>
    <th>GPS</th>
    <th></th>
  </tr>

<% @radars.each do |radar| %>
  <tr>
    <td><%= radar.categorie %></td>
    <td><%= radar.latitude %> , <%= radar.longitude %></td>
    <td><a href="https://maps.google.com/maps?q=<%= radar.latitude %>,<%= radar.longitude %>">map</a></td>
  </tr>
<% end %>
</table>
