<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @radar.type %>
</p>

<p>
  <b>Latitude:</b>
  <%= @radar.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @radar.longitude %>
</p>


<%= link_to 'Edit', edit_radar_path(@radar) %> |
<%= link_to 'Back', radars_path %>
