<p id="notice"><%= notice %></p>

<p>
  <b>Numac:</b>
  <%= @accident.numac %>
</p>

<p>
  <b>Codeinsee:</b>
  <%= @accident.codeinsee %>
</p>

<p>
  <b>Ville:</b>
  <%= @accident.ville %>
</p>

<p>
  <b>Lumiere:</b>
  <%= @accident.lumiere %>
</p>

<p>
  <b>Intersection:</b>
  <%= @accident.intersection %>
</p>

<p>
  <b>Atmospherique:</b>
  <%= @accident.atmospherique %>
</p>

<p>
  <b>Collision:</b>
  <%= @accident.collision %>
</p>

<p>
  <b>Route:</b>
  <%= @accident.route %>
</p>

<p>
  <b>Tues:</b>
  <%= @accident.tues %>
</p>

<p>
  <b>Hospitalises:</b>
  <%= @accident.hospitalises %>
</p>

<p>
  <b>Leger:</b>
  <%= @accident.leger %>
</p>

<p>
  <b>Indemnes:</b>
  <%= @accident.indemnes %>
</p>

<p>
  <b>Gravite:</b>
  <%= @accident.gravite %>
</p>

<p>
  <b>Latitude:</b>
  <%= @accident.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @accident.longitude %>
</p>


<%= link_to 'Edit', edit_accident_path(@accident) %> |
<%= link_to 'Back', accidents_path %>
