<!DOCTYPE html>
<html>
<head>
  <title>Attention Dange : la carte des accidents en Ile-de-France</title>
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png"/>
  <meta name="description" content="Visualiser les zones les plus accidentog&#232;nes de l'Ile-de-France, entre 2006 et 2011:plus une zone est rouge, plus le nombre d'accidents survenus est important,plus un picto est fonc&#233; plus l'accident est grave. Plus de d&#233;tails dansl'onglet informations...">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBNZ4yQChig5XvTBF1fnB4ggiaY-lSxs44&sensor=true&libraries=visualization' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37665144-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
