<!DOCTYPE html>
<html>
<head>
  <title>RoutesDangereuses</title>
  <%= stylesheet_link_tag    "navigation", :media => "all" %>
  <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBNZ4yQChig5XvTBF1fnB4ggiaY-lSxs44&sensor=true&libraries=visualization' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
